:root {
  background-color: black;
}

body {
  overflow-x: hidden;
  background-color: cadetblue;
}

.me{
  border-radius: 50%;
}
.card{
  &:hover{
    transform: scale(1.03);
    transition: transform 0.8s ease-in-out;
  }
}
.socials-sections {
  &:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
    color: white;
  }
}

h2 {
  font-size: 50px;
  color: antiquewhite;
  display: inline;
  align-self: flex-start;
}

.scrollLink {
  &:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
    color: white;
  }
}
input {
  color: #ffffff;
}

.formLabel {
  color: white;
}

.custom-carousel {
  width: 95vw;
  height: 400px;
  margin: 0 auto;
  background-color: transparent;
  border-radius: 15px;
}

.custom-slide {
  width: 80%;
  height: 150px;
  margin: 0 10px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.custom-slide h3 {
  color: #ff0000;
}
